.body_bg{
	background-size: 100% auto;
	background-repeat: no-repeat; 
	background-image: url(../imgs/loginbg.jpg);
}
.div_loginbg{
	width: 100%;
}

.div_loginwindow{
	width: 450px;
	height: 250px;
	margin: 0 auto;
	margin-top: 15%;
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 20px #666;/*safariæˆ–chrome*/
	box-shadow: 0px 5px 20px #333;
	border-radius: 8px;
	padding-top: 30px;
}

.div_loginwindow img{
	display: block;
	width: 220px;
	height: 60px;
	margin: 0 auto;
}
.div_loginwindow ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
	overflow: hidden;
	list-style: none;
	margin-top: 20px;
	display: block;
	margin: 0 auto;
}
.div_loginwindow li{
	width: 100%;
	margin-top: 10px;
	overflow: hidden;
}
.input_text{
	width: 60%;
	font-size: 14px;
	padding: 5px;
}
.input_btn{
	width: 78%;
	color: white;
	height: 35px;
	font-size: 14px;
	margin-top: 10px;
	border: 0px solid #aaa;
	border-radius: 5px;
	cursor: pointer;
}