.div_sta_main{
	width: 100%;
	height: 100%;
}

.div_data_sta{
	height: 40%;
	padding: 20px;
}

.div_data_sta span{
	font-size: 1vw;
}

.page_sta_content{
	height: 40%;
	height: 100%;
	margin-top: 1%;
	border: 1px solid #aaa;
}
.page_sta_content ul{
	display: flex;
	padding-top: 10px;
	padding-left: 100px;
	padding-right: 100px;
}

.page_sta_content ul li {
	flex: 1;
    list-style: none;
    line-height: 60px;
    height: 60px;
    font-size: 1vw;
}

.page_sta_content ul li input{
	width: 60px;
    padding: 10px;
}

.btn_refresh_sta{
	color: white;
	font-size: 1vw;
	border: 0px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	display: inline;
	float: right;
	cursor: pointer;
}

.submit_alter_sta{
	padding: 5px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 1vw;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	border: 0px;
	color: white;
	cursor: pointer;
}
