.div_dk_pic{
	position: absolute;
	width:350px;
	height: 500px;
	overflow-y: auto;
	top: 20px;
	left: 200px;
	background-color: white;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 1%;
	z-index: 11;
	display: none;
	padding-top: 10px;
}

.pop_dk_pic{
	width: 92%;
	height: 90%;
	margin: 0 auto;
	margin-top: 5%;
}

.pop_dk_pic img{
	width: 100%;
	height: 100%;
	display: none;
}

.btn_order{
	border: 0px;
	border-left: 1px solid white;
	border-right: 1px solid white;
    height: 5%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    color: white;
    cursor: pointer;
}
